@import url("colors.css");

*{
    font-family: "FiraCode Nerd Font Propo";
    font-size: 15px;
    min-height: 0;
    transition: all 0.3s ease;
}



window#waybar {
    background: transparent;
    color: white;
    border-radius: 12px;
    transition-property: background-color;
    transition-duration: .5s;
    margin: 0;
}



window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button:hover {
    background: @color1;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.active {
    color: white;
    background-color: @color3;
}


#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-wlogout,
#custom-theme-toggle,
#custom-brightness-control,
#tray,
#mode,
#tooltip,
#idle_inhibitor {
    color: white;
    background: @background;
    padding: 0 12px;
    margin: 5px 2px;
    border-radius: 12px;
    min-width: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#mode {
    background: rgba(68, 71, 90, 0.7);
    color: purple;
    margin: 5px 5px;
    padding: 0 10px;
    border-radius: 12px;
}

#window {
    margin: 5px 5px;
    border-radius: 12px;
    background: white;
    padding: 0 12px;
}



#workspaces {
    background: @background;
    margin: 5px 5px;
    padding: 0 5px;
    border-radius: 12px;
}

#workspaces button {
    padding: 0 8px;
    color: white;
    border-radius: 8px;
    background: transparent;
    margin: 4px 2px;
    transition: all 0.3s;
    font-weight: bold;
}

#workspaces button.focused {
    background: purple;
    color: white;
    font-weight: bold;
    min-width: 28px;
}

#clock {
    color: @foreground;
    font-weight: bold;
    min-width: 90px;
    font-size: 14px;
}

#battery {
    color: @foreground;
}

#battery.charging {
    color: green;
}

#battery.warning:not(.charging) {
    color: orange;
}

#battery.critical:not(.charging) {
    color: red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: red;
        color: white;
    }
}

#pulseaudio {
    color: @foreground;
}

#custom-wlogout {
    color: @foreground;
    font-size: 16px;
    padding: 0 12px;
}


#custom-wlogout:hover {
    background: @color1;
    color: white;
}

#custom-brightness-control {
    color: @foreground;
    font-size: 14px;
    padding: 0 12px;
}

#custom-brightness-control:hover {
    background: @color1;
    color: white;
}


#custom-workspace-next,
#custom-workspace-prev {
    background: black;
    color: purple;
    font-size: 14px;
    padding: 0 8px;
    margin: 5px 2px;
    border-radius: 12px;
    font-weight: bold;
}

#custom-workspace-next:hover,
#custom-workspace-prev:hover {
    background: purple;
    color: white;
}

tooltip {
    background: @background;
    border: 1px solid @color1;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}



#custom-cmus {
    background: @background;  /*rgba(68, 71, 90, 0.7)*/
    color: @foreground;
    font-size: 16px;
    padding: 0 12px;
    margin: 5px 2px;
    border-radius: 12px;
    font-weight: bold;
}

#custom-cmus:hover {
    background: @color1;
    color: white;
}

#custom-wifi {
    background: @background;
    color: purple;
    font-size: 15px;
    padding: 0 8px;
    margin: 5px 2px;
    border-radius: 12px;
    font-weight: bold;
    min-width: 24px;
}

#custom-wifi.connected {
    color: @foreground;
}

#custom-wifi.disconnected {
    color: red;
}

#custom-wifi:hover {
    background: @color1;
    color: white;
} 

#custom-notification {
    background: @background;
    color: @foreground;
    font-size: 16px;
    padding: 0 12px;
    margin: 5px 2px;
    border-radius: 12px;
    font-weight: bold;

}
